body {
    width : 900px;
    margin : auto;
    background-color:#dfdfdf;
    color : #424242;
    font-family : Arial, serif;
}

h1 { font-size : 30px; }
h2 { font-size : 22px; }

a {
    text-decoration : none;
    color : #4B55B3;
}

a:hover {
    font-weight : bold;
}

em {
    color :  #4B70B4;
    font-style : italic;
    font-weight : bold;
}

body > header {
    margin-bottom : 50px;
    text-align : center;
}

body > header > p > a:hover {
    color : #4B55B3;
}

body > header > p {
    font-size : 42px;
    font-weight : bold;
}

body > header > p > a {
    color : #424242;
}

#menu ul{
    list-style-type: none;
    text-align : center;
    font-size:1.2em;
}

#menu li {
    display : inline;
    margin-left:5px;
    margin-right:5px;
}

#menu li a {
    color : #424242;
    font-weight: bold;
}

pre {
    background-color:#dfdfdf;
}

code {
    color :  #4B70B4;
}

/* article */

article {
    border-top : #424242 solid 2px;
    border-bottom : #424242 solid 2px;
}

article p{
    text-indent:30px;
    text-align:justify;
    line-height:25px;
}

article ol {
    list-style-type: upper-roman;
}

/* Footer */

footer {
    text-align: center;
    color:#c1c1c1;
}

footer a {
    color:#c1c1c1;
}

footer a:hover {
    color:#424242;
    font-weight: normal;
}

/* Images */
img {
    max-width:900px; 
    margin: auto;
    display: block;
}

img.floating{
    margin-left: 15px;
    margin-right: 15px;
    max-width:900px; 
}

.formule {
    text-align:center;
    display:block;
}

.legende {
    font-style: italic;
    font-size:0.95em;
    text-align:center;
    text-indent:0px;
}

/* Autres classes */
.center { text-align: center; }
.right { float:right}
.left { float:left}
.math { font-style: italic; font-weight:bold}

/* Tableaux */

table {
    margin: auto;
    border-collapse : collapse;
}

td {
    border : 1px solid black;
    padding: 5px;
}

tr td:first-child {
    font-weight: bold;
}
